@font-face {
  font-family: 'ChalkDuster';
  src: url(../fonts/chalkduster.ttf) format('truetype');
}

@font-face {
  font-family: 'MuseoSlab';
  src: url(../fonts/museoslab-300.otf) format('opentype');
}
