<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">__Name</div>
    <div class="item-name">__Ability</div>
    <div class="item-name">__Reroll</div>
    <div class="item-controls">
      <a class="item-control item-create" title="__Add specialty" data-type="specialty">
        <i class="fas fa-plus"></i> __Add specialty
      </a>
    </div>
  </li>
  {{#each specialties as |specialty key|}}
    <li class="item flexrow" data-item-id="{{specialty._id}}" data-reroll="1">
      <div class="item-name">
        <p class="rollable resource-label"
           data-roll="(@{{specialty.data.ability}}+{{specialty.data.reroll}})d6x6cs>3"
           data-label="{{specialty.name}} ({{localize (lookup @root.abilitiesList specialty.data.ability)}})">
          {{specialty.name}}
        </p>
      </div>
      <div class="item-name">
        <p>{{localize (lookup @root.abilitiesList specialty.data.ability)}}</p>
      </div>
      <div class="item-name">
        <p>{{specialty.data.reroll}}</p>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="__Edit Specialty"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="__Delete Specialty"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
