{{#if isNpc}}
  <div class="wysiwyg-container">
    {{editor system.biography target="system.biography" button=true editable=editable}}
  </div>
{{/if}}
{{#unless isNpc}}
  <div class="flex2">
    <h1 class="block-title no-radius">{{localize "CF.CharacterSheet.Biography"}}</h1>

    <div class="wysiwyg-container">
      {{editor system.biography target="system.biography" button=true editable=editable}}
    </div>
  </div>

  {{> "systems/channel-fear/templates/actor/parts/actor-evolution.hbs"}}
{{/unless}}
