body {
  font-family: var(--f-museo-slab);
}

#logo {
  content: url("../images/logo.webp");
  min-height: 100px;
}

#pause img {
  content: url("../images/logo.webp");
}

.editable {
  .rollable {
    &:hover,
    &:focus {
      color: #000;
      text-shadow: 0 0 10px red;
      cursor: pointer;
    }

    #context-menu {
      text-shadow: none;
    }
  }
}

.dice-roll {
  .hard-success {
    background-color: rgba(0, 128, 0, .2);
  }

  .hard-failure {
    background-color: rgba(255, 0, 0, .2);
  }
}

#sidebar {
  background-image: url("../images/chat_bg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.chat-message {
  @include blue-to-gray-gradient;
}
