&.actor {
  min-width: 800px;

  .window-content {
    padding: 0 0 8px 0;
    @include blue-to-gray-gradient;
  }

  .top-shadow {
    box-shadow: -7px -4px 10px 2px rgb(0 0 0 / 60%);
  }

  .u-relative {
    position: relative;
  }

  .align-right {
    text-align: right;
  }

  .banner-yno {
    background-color: var(--c-black);
    color: var(--c-white);
    padding: 4px 0 4px 10px;

    .serial {
      font-weight: bold;
      background: var(--c-white);
      color: var(--c-black);
      padding: 0 4px;

      .arrow-right {
        display: inline-block;
        padding-right: 2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 0 3px 5.2px;
        border-color: transparent transparent transparent var(--c-black);
      }
    }
  }

  .logo {
    margin: -50px 0;
  }

  .tabs-nav {
    justify-content: inherit;
    align-items: normal;

    .item {
      &:hover {
        margin-top: -5px;
      }

      &.active {
        margin-top: -10px;
      }
    }

    .block-title {
      text-transform: none;
      letter-spacing: inherit;
      border-top-left-radius: 15px;
      padding-right: 20px;
    }
  }

  .tabs-section {
    @include blue-to-gray-gradient;
  }

  .add-btn {
    float: right;
    padding-right: 5px;
  }

  .block-title {
    color: #fff;
    background-color: #000;
    font-size: 1em;
    margin: 0;
    border-top-right-radius: 15px;
    padding: 5px 0 5px 20px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;

    &.no-radius {
      border-top-right-radius: inherit;
      box-shadow: 0px -10px 10px -6px var(--c-black);
    }
  }

  .reversed .block-title {
    border-top-left-radius: 15px;
    padding: 5px 0;
  }

  .small-info {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .block-content {
    border-top-right-radius: 15px;

    .block-header-info {
      background-color: var(--c-light-blue);
      padding: 2px 0 2px 20px;
    }

    .block-content-inner {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
  }

  .block-header-info {
    padding-left: 10px;
  }

  .stacked-blocks {
    height: 100%;

    .stacked-block {
      @include gray-to-blue-gradient;

      .block-title {
        padding-left: 40px;
      }

      &.health-block, &.resource-block {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: -5px -5px 15px -2px var(--c-black);

        .block-title {
          border-top-left-radius: 15px;
        }
      }

      &.resource-block {
        margin-top: 10px;
      }
    }
  }

  .character {
    .health-block {
      padding-bottom: 30px;
      margin-bottom: -25px;
    }
  }

  @import "character-sheet-informations";
  @import "character-sheet-abilities";
  @import "character-sheet-specialties";
  @import "character-sheet-weapons";
  @import "character-sheet-evolution";
  @import "character-sheet-notes";
}
