.abilities {
  @include gray-to-blue-gradient;

  .ability {
    margin-bottom: 5px;
    flex-direction: row;
    align-items: stretch;

    input {
      background: var(--c-white);
      border: 1px dotted var(--c-black);
      width: 50px;
    }

    label {
      color: var(--c-white);
      background-color: var(--c-black);
      text-transform: uppercase;
      flex-grow: 1;
      align-items: center;
      display: flex;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}
