&.actor {
  min-width: 870px;

  .window-content {
    padding-left: 0;
    @include blue-to-gray-gradient;
  }

  .mt-0 {
    margin-top: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .top-shadow {
    box-shadow: -7px -4px 10px 2px rgb(0 0 0 / 60%);
  }

  .block-title {
    color: #fff;
    background-color: #000;
    width: 260px;
    font-size: 1em;
    margin: 0;
    border-top-right-radius: 15px;
    padding: 5px 0 5px 20px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
  }

  .small-info {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .block-content {
    @include gray-to-blue-gradient;
    border-top-right-radius: 15px;
    height: 100%;

    .block-header-info {
      background-color: $c-light-blue;
      padding: 2px 20px;
    }

    .block-content-inner {
      padding-left: 20px;
    }
  }

  .phone-photo {
    margin-left: 20px;
  }

  .basic-informations {
    margin-top: -50px;
    height: 100%;

    .informations-container {
      p {
        label {
          margin-right: 5px;

          color: $c-white;
          background-color: $c-black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          padding: 2px 6px;
        }

        input {
          flex-grow: 1;

          text-align: left;
        }
      }

      input, textarea {
        border: none;
        background-image: linear-gradient(to right, $c-black 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
      }
    }

    .profile-img-container {
      background-image: url("../images/phone.webp");
      background-repeat: no-repeat;
      width: 150px;
      height: 290px;
      background-size: 150px;
      margin-top: -40px;
      @include rotate(-10);

      img {
        margin-top: 40px;
        margin-left: 12px;
        width: 126px;
        height: 220px;
        object-fit: cover;
      }
    }

    .abilities {
      .ability {
        margin-bottom: 5px;
        flex-direction: row;
        align-items: stretch;

        input {
          background: $c-white;
          border: 1px dotted $c-black;
          width: 50px;
        }

        label {
          color: $c-white;
          background-color: $c-black;
          text-transform: uppercase;
          flex-grow: 1;
          align-items: center;
          display: flex;
          font-weight: bold;
          padding-left: 5px;
        }
      }
    }

    .specialties {
      margin-top: 15px;
      margin-left: -60px;
      margin-right: 20px;
      padding-left: 20px;

      .block-title {
        width: 100%;

        .add-specialty {
          float: right;
          margin-right: 5px;
        }
      }

      .block-content {
        border-top-right-radius: 0;
        box-shadow: 0 -25px 10px 2px rgb(0 0 0 / 60%);

        .specialty {
          background: $c-white;
          border: 1px dotted $c-black;
          margin-bottom: 3px;
          font-family: $font-handwrite;
          padding-left: 5px;

          .linked-ability {
            font-size: x-small;
          }

          .reroll {
            background-color: $c-black;
            margin: 0;
            align-self: stretch;
            align-content: center;
            flex: 0 1 auto;
            padding: 0 5px;

            input {
              appearance: none;
              background-color: $c-white;
              margin: 0;
              font: inherit;
              color: currentColor;
              width: 1.2em;
              height: 1.2em;
              display: grid;
              place-content: center;

              &::before {
                content: "";
                width: 1em;
                height: 1em;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em $c-black;
              }

              &:checked::before {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
