<div class="dice-roll">
  <div class="dice-flavor">
    {{localize "CF.Rolls.AbilityCheck.Card.Title" ability=ability}}
    {{#if difficulty}}
      ({{localize "CF.Rolls.AbilityCheck.Card.Difficulty" difficulty=difficulty}})
    {{/if}}
  </div>
  <div class="dice-result">
    <h4 class="dice-total">{{difficulty}}</h4>
  </div>
</div>
